<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title> {{name}} </ion-title>
      <ion-buttons slot="start">
        <ion-back-button color='dark'></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img *ngIf="data1==1" class="special" src="../../../assets/img5.png" alt="" />
    <img *ngIf="data1==2" class="special" src="../../../assets/img6.png" alt="" />
    <img *ngIf="data1==3" class="special" src="../../../assets/img7.png" alt="" />
    <img *ngIf="data1==4" class="special" src="../../../assets/img8.png" alt="" />
  </ion-header>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let product of products; let i = index">
        <ion-col size="6">
          <div>
            <img [src]="product.product_img" alt="">
            <ion-card-title>{{product.name}}</ion-card-title>
            <ion-card-subtitle>{{product.weight}}</ion-card-subtitle>
            <ion-card-subtitle>{{product.price}}</ion-card-subtitle>
          </div>
        </ion-col>
        <div *ngIf="(i+1)%2 === 0" class="w-100"></div>
      </ng-container>
    </ion-row>
  </ion-grid>
  <app-cat-details></app-cat-details>
</ion-content>
