<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="../../../assets/img1.png" alt="">
    <h2>Mauris pharetra nisl eget</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit cras nec nunc urna Nunc vel consequat augue. Donec gravida luctus justo, eu sagittis ipsum elementum aliquet
    </p>
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/img2.png" alt="">
    <h2>Aliquam erat volutpat</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit cras nec nunc urna Nunc vel consequat augue. Donec gravida
      luctus justo, eu sagittis ipsum elementum aliquet
    </p>
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/img3.png" alt="">
    <h2>Aresh bimarst delivery</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit cras nec nunc urna Nunc vel consequat augue. Donec gravida
      luctus justo, eu sagittis ipsum elementum aliquet
    </p>
    <app-start></app-start>
  </ion-slide>
</ion-slides>
